---
import Layout from "../layouts/Layout.astro";
---

<script async src="https://tally.so/widgets/embed.js"></script>
<Layout title="Welcome to Astro.">
  <main
    id="main"
    class="m-auto w-full text-white text-lg leading-loose flex flex-col gap-10 transition-all ease-in-out duration-300"
  >
    <section
      class="translate-y-5 transition-all ease-in delay-700 duration-700 opacity-0"
    >
      <div class="flex">
        <iframe
          class="block bg-transparent border-0 h-screen w-screen m-0"
          data-tally-src="https://tally.so/r/nP9YM0?transparentBackground=1"
          title="HackStack — Inscripción"></iframe>
      </div>
    </section>
  </main>
</Layout>
