---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="list-none flex p-0.5 bg-gray-800 rounded-xl transition-all ease-[cubic-bezier(0.22,1,0.36,1)] duration-600 shadow-inner group"
>
  <a
    href={href}
    class="w-full text-white no-underline leading-7 py-6 px-6 rounded-xl bg-gray-800 opacity-80"
  >
    <h2
      class="m-0 text-lg transition-all ease-[cubic-bezier(0.22,1,0.36,1)] duration-600 group-hover:text-[rgb(var(--accent-light))]"
    >
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</li>
