---
interface Props {
  title: string;
  description?: string;
  highlight: "red" | "green" | "blue" | "white";
  icon: "money" | "slack" | "mail" | "resources" | "tickets" | "announcements";
}

import {
  PiggyBankIcon,
  SlackIcon,
  MailCheckIcon,
  LibraryIcon,
  TicketIcon,
  MegaphoneIcon,
} from "lucide-react";

const { title, description, icon } = Astro.props;

const Icons = {
  money: PiggyBankIcon,
  slack: SlackIcon,
  mail: MailCheckIcon,
  resources: LibraryIcon,
  tickets: TicketIcon,
  announcements: MegaphoneIcon,
};

const Icon = Icons[icon];
---

<div
  class="max-w-sm relative flex flex-col bg-gray-900 p-8 rounded-lg cursor-pointer transition-all duration-200 hover:shadow-xl"
>
  <div class="p-3 w-fit mt-24 rounded-full bg-gray-800 border-gray-700 border">
    <Icon strokeWidth={1} color="white" size="20" absoluteStrokeWidth />
  </div>
  <h3 class="z-10 relative mt-4 text-white font-semibold text-lg">
    {title}
  </h3>
  <p class="z-10 relative mt-2 text-neutral-400 text-sm">{description}</p>
  <div class="absolute inset-0 opacity-0">
    <div
      class="shine inset-0 bg-gradient-to-r from-green-400 to-blue-500 opacity-0 hover:opacity-10 transition-opacity duration-200 rounded-lg"
    >
    </div>
    <div class="tiles">
      {
        /* You can loop through the tiles if you want to generate them dynamically */
      }
      <div class="tile tile-1 w-1/4 h-10 bg-green-100 opacity-20">test</div>
      {/* Add more tiles here */}
    </div>
    <!-- <div class="line line-1 w-full h-px bg-gray-800"></div> -->
    {/* Add more lines here */}
  </div>
</div>
