---
import FancyAnchor from "./FancyAnchor.astro";
---

<section class="translate-y-5 transition-all ease-in duration-700">
  <div class="flex justify-center">
    <FancyAnchor link="/apply" content="Únete aquí" />
  </div>
</section>
