---
import AnimatedSection from "./AnimatedSection.astro";
---

<div
  class="m-auto max-w-xl flex flex-col gap-10 selection:bg-purple-600 selection:text-white"
>
  <AnimatedSection>
    <p>
      <b>Esta no es una declaración de principios.</b>
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      No hallarás aquí un manifiesto, o una fórmula mágica para organizar
      comunidades o eventos.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Si lees esto, es porque compartes una visión única sobre cómo hacer
      comunidad y sabes que necesitamos más espacios de encuentro.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Te mueve el deseo de inspirar y generar un cambio positivo en las personas
      y el ecosistema tecnológico.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Conoces esa sensación indefinible, que surge espontáneamente cuando una
      comunidad decide apoyarse y elevarse.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Formar parte de algo más grande que nos une, nos inspira esperanza y
      determinación.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Si es así, te invitamos a ser parte de
      <span class="underline font-bold">HackStack.</span>
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <div class="flex justify-center my-10">
      <hr class="w-1/2" />
    </div>
  </AnimatedSection>

  <AnimatedSection>
    <h2 class="text-3xl">Nuestro Ideal</h2>
    <br />
    <p>
      Creemos que las comunidades son un motor de innovación que se basa en las
      personas.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Ya sea una comunidad de Python, JavaScript, UX, Agile, OpenSource o
      emprendimiento, las comunidades son donde las ideas florecen y los sueños
      se nutren.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Sabemos que dirigir una comunidad es una tarea compleja y a menudo
      solitaria, pero creemos que puede ser más simple.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <h2 class="text-2xl">Es por esto que nace HackStack</h2>
    <br />
    <p>
      Como un lugar para conectar y acelerar comunidades, facilitando la
      colaboración y el apoyo entre quienes las organizan.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Sabemos que liderar y sostener una comunidad es una tarea compleja
      <i>(y a veces solitaria)</i>, y queremos ayudarte a maximizar el impacto
      de tu comunidad. Pero jamás pensaríamos en decirte cómo hacerlo. Solo
      queremos hacernos la vida más fácil.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Para eso estamos iniciando diferentes iniciativas. Un servicio gratuito
      para que puedas coordinar actividades y comunicaciones con tu comunidad;
      una plataforma para cooperar entre líderes y organizadores de otras
      comunidades; entre otras.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Decidimos comenzar HackStack con una acción concreta: una convocatoria en
      que brindaremos a comunidades la oportunidad de recibir financiamiento
      para impulsar sus proyectos.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      HackStack busca ser más que una suma de iniciativas y comunidades
      trabajando juntas, es un movimiento hacia un ecosistema más fuerte y
      resiliente, donde las comunidades sean el motor de la innovación y el
      crecimiento.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Este es un llamado a cooperar, y a presionar hacia cambios positivos, a
      ser parte de algo más grande.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      <b>Esto es solo el comienzo.</b>
    </p>

    <p>Te esperamos.</p>
  </AnimatedSection>

  <br />
  <AnimatedSection>
    <h1
      class="-rotate-3 text-4xl md:text-5xl lg:text-6xl font-bold text-right font-callout"
    >
      HACKSTACK
    </h1>
  </AnimatedSection>
</div>
