---
import AnimatedSection from "./AnimatedSection.astro";
---

<div
  class="m-auto max-w-xl flex flex-col gap-10 selection:bg-purple-600 selection:text-white"
>
  <AnimatedSection>
    <p>
      <b>Esta no es una declaración de principios.</b>
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      No hallarás aquí un manifiesto, o una fórmula mágica para organizar
      comunidades o eventos.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Si lees esto, es porque compartes una visión única sobre cómo hacer
      comunidad y sabes que necesitamos más espacios de encuentro.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Te mueve el deseo de inspirar y generar un cambio positivo en las personas
      y el ecosistema tecnológico.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Conoces esa sensación indefinible, que surge espontáneamente cuando una
      comunidad decide apoyarse y elevarse.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Formar parte de algo más grande que nos une, nos inspira esperanza y
      determinación.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Si es así, te invitamos a ser parte de
      <span class="font-bold">HackStack.</span>
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <div class="flex justify-center my-10">
      <hr class="w-1/2" />
    </div>
  </AnimatedSection>

  <AnimatedSection>
    <h2 class="text-3xl">Nuestro Ideal</h2>
    <br />
    <p>
      Creemos que las comunidades son un motor de innovación que se basa en las
      personas.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Ya sea una comunidad de Python, JavaScript, UX, Agile, OpenSource o
      emprendimiento, las comunidades son donde las ideas florecen y los sueños
      se nutren.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Sabemos que dirigir una comunidad es una tarea compleja, con múltiples
      desafíos, que van desde coordinar actividades hasta conseguir
      financiamiento.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>Pero creemos que puede ser más simple.</p>
  </AnimatedSection>

  <AnimatedSection>
    <h2 class="text-2xl">Es por esto que nace HackStack</h2>
    <br />
    <p>
      Como un lugar para conectar y acelerar comunidades, facilitando la
      colaboración y el apoyo entre quienes las organizan.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Jamás pensaríamos en decirte cómo debería manejarse una comunidad. Más
      bien, queremos abrir un espacio de apoyo mutuo.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Para eso estamos iniciando diferentes iniciativas y decidimos comenzar
      HackStack con una acción concreta: una convocatoria en que brindaremos a
      comunidades la oportunidad de recibir financiamiento para impulsar sus
      proyectos.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      HackStack busca ser más que una suma de iniciativas y comunidades
      trabajando juntas, es un movimiento hacia un ecosistema más fuerte y
      resiliente, donde las comunidades sean un motor de innovación y
      crecimiento.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      Este es un llamado a cooperar, a presionar hacia cambios positivos, a ser
      parte de algo más grande.
    </p>
  </AnimatedSection>

  <AnimatedSection>
    <p>
      <b>Esto es solo el comienzo.</b>
    </p>

    <p>Te esperamos.</p>
  </AnimatedSection>
</div>
