---
import AnimatedSection from "./AnimatedSection.astro";
import Card from "./Card.astro";
---

<AnimatedSection>
  <h1 class="text-8xl py-20 font-bold text-center font-callout">Hey.</h1>
</AnimatedSection>

<AnimatedSection>
  <p>
    <b>Esta no es una declaración de principios.</b>
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    No hallarás en estas líneas un manifiesto, o la fórmula mágica que te dirá
    cómo organizar comunidades, realizar eventos o conferencias.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Si estás leyendo esto, es porque resuenas con una visión diferente de como
    hacer comunidad. Sabes que aún nos faltan espacios de encuentro.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Es porque te impulsa el deseo de inspirar. <br /> De encender la chispa del
    cambio en otros.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Es porque entiendes que la tecnología es una herramienta para impactar
    positivamente la vida de las personas.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Es porque conoces ese — <i>algo</i> —. Eso que es difícil de definir, pero
    que se siente. Eso que surge espontáneamente cuando una comunidad decide
    crear, apoyarse y elevarse mutuamente.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Ser parte de algo más grande. Que nos mueve y une, lo que nos invita a mirar
    hacia delante con esperanza y determinación.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>Si es así, te invitamos a HackStack</p>
</AnimatedSection>

<AnimatedSection>
  <div class="flex justify-center my-10">
    <hr class="w-1/2" />
  </div>
</AnimatedSection>

<AnimatedSection>
  <h2 class="text-3xl">Nuestro Ideal</h2>
  <br />
  <p>Creemos que las comunidades son un motor de innovación y crecimiento.</p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Que los reales protagonistas e impulsores de ideas e historias de desarrollo
    e innovación no son empresas, ni corporaciones.<br /><br />Son las personas.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Sea Python o JavaScript, UX, Agile, OpenSource o Emprendimiento, las
    comunidades son el espacio donde las ideas se cultivan, los desafíos se
    enfrentan y los sueños se nutren hasta convertirse en realidades tangibles.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Sabemos que en el núcleo de cada comunidad encontramos personas dedicadas,
    impulsadas por una pasión por crear, compartir y elevar a otros.
  </p>
</AnimatedSection>

<AnimatedSection>
  <h2 class="text-3xl">¿Por qué lo sabemos?</h2>
  <br />
  <p>
    Porque somos parte de esas comunidades. Porque somos organizadores y
    asistentes. Porque hemos visto de primera mano el impacto que tienen las
    comunidades. Porque hemos sido testigos de cómo la colaboración y el apoyo
    mutuo pueden transformar vidas.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Sabemos que liderar y sostener una comunidad es una tarea compleja <i
      >(y a veces solitaria)</i
    >, repleta de desafíos. Desde la gestión de recursos, comunicación, hasta la
    coordinación de esfuerzos y voluntarios.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Sin contar la organización de eventos y actividades o la moderación de
    espacios seguros.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>Y creemos que puede ser más simple.</p>
</AnimatedSection>

<AnimatedSection>
  <h2 class="text-2xl">Es por esto que nace HackStack.</h2><br />
  <p>
    Si las comunidades están en la base de la innovación y el crecimiento,
    HackStack quiere ser una red que las conecta y acelera.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Te invitamos a construir un espacio de apoyo, colaboración, crecimiento y
    coordinación.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Buscamos facilitar la conexión entre comunidades, especialmente quienes las
    lideran y organizan, permitiéndonos compartir recursos, enfrentar desafíos
    juntos, maximizar el impacto que creamos y en conjunto abordar desafíos aún
    más desafiantes.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Queremos ser una ayuda. Y queremos que tú puedas ser una ayuda a otras
    personas.
    <b><i>No buscamos decirte cómo manejar tu comunidad.</i></b> Tú, mejor que
    nadie sabes lo que necesitas. Nosotros queremos ayudarte a lograrlo.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Por eso estamos trabajando en múltiples iniciativas. Un servicio gratuito
    para que puedas coordinar actividades y comunicaciones con tu comunidad; una
    plataforma para cooperar entre líderes y organizadores de otras comunidades;
    entre otras.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Decidimos comenzar HackStack con una acción concreta: una convocatoria en
    que brindaremos a comunidades la oportunidad de recibir financiamiento para
    impulsar sus proyectos.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Pero HackStack busca ser más que una suma de iniciativas y comunidades
    trabajando juntas. <b>HackStack</b> es un movimiento hacia un ecosistema más
    fuerte y resiliente, hacia un futuro donde las comunidades sean el motor de
    la innovación y el crecimiento.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    Este es un llamado a cooperar, y a presionar hacia cambios positivos, a ser
    parte de algo más grande.
  </p>
</AnimatedSection>

<AnimatedSection>
  <p>
    <b>Esto es solo el comienzo.</b>
  </p>

  <p>Te esperamos.</p>
</AnimatedSection>

<br />
<AnimatedSection>
  <h1
    class="text-4xl md:text-5xl lg:text-6xl font-bold text-right font-callout"
  >
    HACKSTACK
  </h1>
</AnimatedSection>
