---

---

<script>
  function ready(fn: () => void) {
    if (document.readyState !== "loading") {
      fn();
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  ready(() => {
    setTimeout(() => {
      const main = document.getElementById("main");
      if (!main) {
        return;
      }
      const sections = main.querySelectorAll("section");
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("!opacity-100", "!translate-y-0");
              observer.unobserve(entry.target);
            }
          });
        },
        { threshold: 0.5 },
      );

      sections.forEach((section) => {
        observer.observe(section);
      });
    }, 1000);
  });
</script>

<main
  id="main"
  class="m-auto max-w-xl text-white text-lg leading-loose flex flex-col gap-10 transition-all ease-in-out duration-300 pt-20 pb-40"
>
  <section class="translate-y-5 transition-all ease-in duration-700 opacity-0">
    <h1 class="text-8xl py-20 font-bold text-center font-callout">Hey.</h1>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      <b>Esta no es una declaración de principios.</b>
      <br />
       No hallarás en estas líneas un manifiesto, o la fórmula mágica que te
      dirá cómo realizar eventos o conferencias.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Si estas leyendo esto, es porque resuenas con una visión diferente de como
      hacer comunidad.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Es porque te impulsa el deseo de inspirar. <br /> De encender la chispa de
      cambio en otros.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Es porque conoces ese — <i>algo</i> —. Eso que es difícil de definir, pero
      que se siente. Eso que surge espontaneamente cuando una comunidad decide
      crear, apoyarse y elevarse mutuamente.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Ser parte de algo más grande. Que nos mueve y une, lo que nos invita a
      mirar hacia adelante con esperanza y determinación.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>Si es así, te invitamos a HackStack</p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <div class="flex justify-center my-10">
      <hr class="w-1/2" />
    </div>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <h2 class="text-3xl">Nuestro Ideal</h2>
    <br />
    <p>
      Creemos que las comunidades son el motor de la innovación y el
      crecimiento.
    </p>
    <p>
      Que los reales protagonistas e impulsores de ideas e historias de
      desarrollo e innovación no son empresas, ni corporaciones.<br /><br />Son
      las personas.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Sea Python o JavaScript, UX, Agile, Emprendimiento u OpenSource, las
      comunidades son el espacio donde las ideas se cultivan, los desafíos se
      enfrentan y los sueños se nutren hasta convertirse en realidades
      tangibles.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Sabemos que en núcleo de cada comunidad, que encontramos personas
      dedicadas, impulsadas por una pasión por crear, compartir y elevar a
      otros.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <h2 class="text-3xl">¿Por que lo sabemos?</h2>
    <br />
    <p>
      Porque somos parte de esas comunidades. Porque somos organizadores y
      asistentes. Porque hemos visto de primera mano el impacto que tienen las
      comunidades. Porque hemos sido testigos de como la colaboración y el apoyo
      mutuo pueden transformar vidas.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Sabemos que liderar y sostener una comunidad es una tarea compleja
      <i>(y aveces solitaria)</i>, repleta de desafíos. Desde la gestión de
      recursos, comunicación, hasta la coordinación de esfuerzos y voluntarios.
      <br />Sin contar la organización de eventos y actividades o la moderación
      de espacios seguros.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>Y creemos que puede ser mas simple.</p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <h2 class="text-2xl">Es por esto que nace HackStack.</h2><br />
    <p>
      Si las comunidade son la base de la innovación y el crecimiento, HackStack
      quiere ser una es la red que las conecta.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Queremos proporcionar un espacio de apoyo, colaboración, crecimiento y
      coordinación. Buscamos facilitar la conexión entre comunidades,
      especialmente quienes las lideran y organizan, permitiéndonos compartir
      recursos, enfrentar desafíos juntos y maximizar el impacto que creamos.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Queremos ser una ayuda. Y queremos que tu puedas ser una ayuda a otras
      personas.
      <b><i>No buscamos decirte como manejar tu comunidad.</i></b> Tu, mejor que
      nadie sabe lo que necesitas. Nosotros queremos ayudarte a lograrlo.
    </p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      Para lograr esto, estamos trabajando en multiples iniciativas. Un servicio
      gratuito para que puedas coordinar actividades y comunicaciones con tu
      comunidad; una plataforma para colaborar y coordinar con líderes y
      organizadores de otras comunidades; una convocatoria anual, en que
      brindaremos a comunidades la oportunidad de recibir financiamiento para
      impulsar sus proyectos, entre algunas otras.
    </p>
  </section>

  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      HackStack es más que una iniciativa; es mas que un par de comunidades
      trabajando juntas. <b>HackStack</b> es un movimiento hacia un ecosistema
      más fuerte y resiliente, hacia un futuro donde las comunidades son el
      motor de la innovación y el crecimiento.
    </p>
    <p>Este es un llamado a colaborar, a ser parte de algo más grande.</p>
  </section>
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <p>
      <b>Esto es solo el comienzo</b>
    </p>

    <p>Te esperamos.</p>
  </section>

  <br />
  <section
    class="translate-y-5 transition-all ease-in duration-700 opacity-0 delay-300"
  >
    <h1 class="text-4xl font-bold text-right font-callout">— HACKSTACK.</h1>
  </section>
</main>
