---
import AnimatedSection from "./AnimatedSection.astro";
---

<AnimatedSection>
  <p class="leading-8 text-xl">
    Buscamos conectar y acelerar comunidades, facilitando recursos,
    financiamiento, la colaboración y el apoyo mutuo entre líderes de
    comunidades.
  </p>
</AnimatedSection>
